<h1>Bookmarks List:</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="http://<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>


<form action='/bookmarks/new' method="post">

<input type="text" name="title" placeholder="Title"/>
<input type="text" name="url" placeholder="URL"/>
<input type="submit" value="Submit" />

</form>

<form action="/" method="get">
<input type="submit" value="Back">
</form>

<!-- <a href="url">link text</a> -->
